<h1>Add Recipe</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/recipes/" method="post">
    {% csrf_token %}
    <label>Name: </label>
    <input type="input" name="name" value="{{ recipe.name }}">
    <label>Ingredients: </label>
    <input type="textbox" name="ingredients" value="{{ recipe.ingredients }}">
    <label>Directions: </label>
    <input type="textbox" name="directions" value="{{ recipe.directions }}">
    <label>Cook Time: </label>
    <input type="number" name="cook_time" value="{{ recipe.cook_time }}">

    <input type="submit" value="Store">
</form>